sudo: false
language: node_js
node_js:
- "node"
before_install:
  # Repo for newer Node.js versions
  - curl -sL https://deb.nodesource.com/setup_6.x | sudo -E bash -
  # Repo for Yarn
  - sudo apt-key adv --fetch-keys http://dl.yarnpkg.com/debian/pubkey.gpg
  - echo "deb http://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
  - sudo apt-get update -qq
  - sudo apt-get install -y -qq yarn
script: "yarn test -- --coverage && yarn run lint"
after_script: "yarn run coveralls"
notifications:
  email: false
cache:
  directories:
  - $HOME/.yarn-cache
